@page "/users"
@layout MainLayout
@using TrustYourBrand.Models
@using TrustYourBrand.Services
@inject IHttpClientFactory HttpClientFactory
@inject TrustYourBrand.Services.IUserService UserService
@inject TrustYourBrand.Services.ILocalStorageService LocalStorageService
@inject TrustYourBrand.Services.CultureChangeService CultureChangeService
@inject ILanguageContainerService LanguageContainer
@inject NavigationManager NavigationManager

<div class="table-container">
    <div class="table-header">
        <div class="action-buttons">
            <button class="btn btn-action" @onclick="OpenCreateUser">@LanguageContainer.Keys["CreateNewUserButton"]</button>
            <button class="btn btn-action">@LanguageContainer.Keys["Export"]</button>
            <button class="btn btn-action">@LanguageContainer.Keys["Import"]</button>
            <button class="btn btn-action">@LanguageContainer.Keys["SelectColumns"]</button>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="@SearchPlaceholderUser" class="search-input" @bind="SearchTerm" @bind:event="oninput" />
        </div>
    </div>

    <table class="users-table">
        <thead>
            <tr>
                <th class="action-column"></th>
                <th class="action-column"></th>
                <th class="action-column"></th>
                <th>@LanguageContainer.Keys["FirstName"]</th>
                <th>@LanguageContainer.Keys["LastName"]</th>
                <th>@LanguageContainer.Keys["Email"]</th>
                <th>@LanguageContainer.Keys["Role"]</th>
                <th>@LanguageContainer.Keys["Function"]</th>
                <th>@LanguageContainer.Keys["Department"]</th>
            </tr>
        </thead>
        <tbody>
            @if (Userslist == null)
            {
                <tr><td colspan="8">@LanguageContainer.Keys["Loading"]</td></tr>
            }
            else if (!Userslist.Any())
            {
                <tr><td colspan="8">@LanguageContainer.Keys["NoUsersFound"]</td></tr>
            }
            else
            {
                @foreach (var user in PaginatedUsers)
                {
                    <tr>
                        <td class="action-column">
                            <span class="material-symbols-outlined action-icon edit-icon" @onclick="() => EditUser(user)">edit</span>
                        </td>
                        <td class="action-column">
                            <span class="material-symbols-outlined action-icon delete-icon" @onclick="() => ShowDeleteConfirmation(user)">delete</span>
                        </td>
                        <td class="action-column">
                            <span class="material-symbols-outlined action-icon delete-icon">history</span>
                        </td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.Role</td>
                        <td>@user.Function</td>
                        <td>@user.Department</td>

                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="pagination">
        <span>@LanguageContainer.Keys["Page"] @CurrentPage @LanguageContainer.Keys["Of"] @TotalPages</span>
        <div class="pagination-buttons">
            <button class="btn btn-pagination" @onclick="PreviousPage">@LanguageContainer.Keys["PrevButton"]</button>
            <button class="btn btn-pagination btn-active" @onclick="NextPage">@CurrentPage</button>
            <button class="btn btn-pagination" @onclick="NextPage">@LanguageContainer.Keys["NextButton"]</button>
        </div>
    </div>

    @if (ShowDeleteModal)
    {
        <div class="modal-overlay delete-modal-overlay">
            <div class="modal-content">
                <h3>@LanguageContainer.Keys["DeleteTitle"]</h3>
                <p style="font-weight: bold; text-align: left; color: black; margin: 0 0 2px 0;">@LanguageContainer.Keys["UserName"]</p>
                <p style="text-align: left; color: black; margin: 0 0 5px 0;">@(UserToDelete?.FirstName + " " + UserToDelete?.LastName ?? "Unknown User")</p>
                <p>@LanguageContainer.Keys["DeleteMessage"]</p>
                <div class="modal-buttons">
                    <button class="btn btn-confirm" @onclick="ConfirmDelete">@LanguageContainer.Keys["ConfirmButton"]</button>
                    <button class="btn btn-cancel" @onclick="CancelDelete">@LanguageContainer.Keys["CancelButton"]</button>
                </div>

            </div>
        </div>
    }


    @if (!string.IsNullOrEmpty(deleteMessage))
    {
        <div class="alert" style="@(deleteMessage.Contains("sucess") ? "color: green;" : "color: red;")">
            @deleteMessage
        </div>
    }

    @if (ShowCreateUser)
    {
        <div class="modal-overlay">
            <div class="modal-content">
                <h3>@LanguageContainer.Keys["CreateTitle"]</h3>
                @if (ShowCreateUser)
                {
                    <div class="modal-overlay">
                        <div class="modal-content">
                            <h3>@LanguageContainer.Keys["CreateTitle"]</h3>
                            <EditForm Model="@NewUser" OnValidSubmit="@CreateUser">
                                <DataAnnotationsValidator />
                                <table class="edit-user-table">
                                    <tr>
                                        <td>
                                            <div>
                                                <label for="firstName">@LanguageContainer.Keys["FirstName"]*</label>
                                                <InputText id="firstName" @bind-Value="@NewUser.FirstName" />
                                                <ValidationMessage For="@(() => NewUser.FirstName)" />
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <label for="lastName">@LanguageContainer.Keys["LastName"]*</label>
                                                <InputText id="lastName" @bind-Value="@NewUser.LastName" />
                                                <ValidationMessage For="@(() => NewUser.LastName)" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <label for="email">@LanguageContainer.Keys["Email"]*</label>
                                                <InputText id="email" type="email" @bind-Value="@NewUser.Email" />
                                                <ValidationMessage For="@(() => NewUser.Email)" />
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <label for="pin">PIN</label>
                                                <InputText id="pin" type="password" @bind-Value="@NewUser.Pin" />
                                                <ValidationMessage For="@(() => NewUser.Pin)" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <label for="function">@LanguageContainer.Keys["Function"]</label>
                                                <InputSelect id="function" @bind-Value="@NewUser.FunctionId">
                                                    <option value="">@LanguageContainer.Keys["SelectFunction"]</option>
                                                    @foreach (var func in FuncoesDisponiveis)
                                                    {
                                                        <option value="@func.FunctionId">@func.Name</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For="@(() => NewUser.FunctionId)" />
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <label for="phoneNumber">@LanguageContainer.Keys["PhoneNumberLabel"]*</label>
                                                <InputText id="phoneNumber" type="tel" @bind-Value="@NewUser.PhoneNumber" inputmode="numeric" pattern="[0-9]{9}" maxlength="9" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
                                                
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <label for="birthday">@LanguageContainer.Keys["Birthday"]</label>
                                                <InputDate id="birthday" @bind-Value="@NewUser.Birthday" />
                                                <ValidationMessage For="@(() => NewUser.Birthday)" />
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <label for="department">@LanguageContainer.Keys["Department"]</label>
                                                <InputSelect id="department" @bind-Value="@NewUser.DepartmentId">
                                                    <option value="">@LanguageContainer.Keys["SelectDepartment"]</option>
                                                    @foreach (var dept in DepartamentosDisponiveis)
                                                    {
                                                        <option value="@dept.DepartmentId">@dept.Nome</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For="@(() => NewUser.DepartmentId)" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <label for="role">Role</label>
                                                <InputSelect id="role" @bind-Value="@NewUser.Role">
                                                    <option value="">@LanguageContainer.Keys["SelectRole"]</option>
                                                    @foreach (var role in RolesDisponiveis.Where(r => r.Name != "Tenant"))
                                                    {
                                                        <option value="@role.Name">@role.Name</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For="@(() => NewUser.Role)" />
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <label for="gender">@LanguageContainer.Keys["GenderLabel"]</label>
                                                <InputSelect id="gender" @bind-Value="@NewUser.Gender">
                                                    <option value="">@LanguageContainer.Keys["SelectGender"]</option>
                                                    <option value="Masculino">@LanguageContainer.Keys["Male"]</option>
                                                    <option value="Feminino">@LanguageContainer.Keys["Female"]</option>
                                                </InputSelect>
                                                <ValidationMessage For="@(() => NewUser.Gender)" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <label for="country">@LanguageContainer.Keys["Country"]</label>
                                                <InputSelect id="country" @bind-Value="@NewUser.Country">
                                                    <option value="">@LanguageContainer.Keys["SelectCountry"]</option>
                                                    <option value="Portugal">Portugal</option>
                                                    <option value="Espanha">Spain</option>
                                                </InputSelect>
                                                <ValidationMessage For="@(() => NewUser.Country)" />
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <label for="city">@LanguageContainer.Keys["CityLabel"]</label>
                                                <InputText id="city" @bind-Value="@NewUser.City" />
                                                <ValidationMessage For="@(() => NewUser.City)" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <label for="tenant">Tenant</label>
                                                @if (TenantsDisponiveis.Any())
                                                {
                                                    <input type="text" value="@TenantsDisponiveis[0].Name" readonly disabled />
                                                }
                                                else
                                                {
                                                    <input type="text" value="No tenant available" readonly disabled />
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <label for="store">Store Tenant</label>
                                                <InputSelect id="store" @bind-Value="@NewUser.LojaId">
                                                    <option value="">@LanguageContainer.Keys["SelectStoreTenant"]</option>
                                                    @foreach (var store in StoreDisponiveis)
                                                    {
                                                        <option value="@store.LojaId">@store.Nome</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For="@(() => NewUser.LojaId)" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <label for="brand">@LanguageContainer.Keys["BrandLabel"]</label>
                                                <InputSelect id="brand" @bind-Value="@NewUser.MarcaId">
                                                    <option value="">@LanguageContainer.Keys["SelectBrand"]</option>
                                                    @foreach (var brand in BrandDisponiveis)
                                                    {
                                                        <option value="@brand.MarcaId">@brand.Nome</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For="@(() => NewUser.MarcaId)" />
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <label for="language">@LanguageContainer.Keys["LanguageLabel"]</label>
                                                <InputSelect id="language" @bind-Value="@NewUser.Language">
                                                    <option value="">@LanguageContainer.Keys["SelectLanguage"]</option>
                                                    <option value="Português">Portuguese</option>
                                                    <option value="Inglês">English</option>
                                                </InputSelect>
                                                <ValidationMessage For="@(() => NewUser.Language)" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="modal-buttons">
                                    <button type="submit" class="btn btn-confirm">@LanguageContainer.Keys["CreateUserButton"]</button>
                                    <button type="button" class="btn btn-cancel" @onclick="CancelCreate">@LanguageContainer.Keys["CancelButton"]</button>
                                </div>
                                @if (!string.IsNullOrEmpty(errorMessage))
                                {
                                    <p style="color: red;">@errorMessage</p>
                                }
                                @if (!string.IsNullOrEmpty(successMessage))
                                {
                                    <p style="color: green;">@successMessage</p>
                                }
                            </EditForm>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    @if (ShowEditUser)
    {
        <div class="modal-overlay">
            <div class="modal-content">
                <h3>@LanguageContainer.Keys["EditTitle"]</h3>
                <form>
                    <table class="edit-user-table">
                        <tr>
                            <td>
                                <div><label>@LanguageContainer.Keys["FirstName"]</label><input @bind="EditingUser.FirstName" /></div>
                            </td>
                            <td>
                                <div><label>@LanguageContainer.Keys["LastName"]</label><input @bind="EditingUser.LastName" /></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div><label>@LanguageContainer.Keys["Email"]</label><input type="email" @bind="EditingUser.Email" /></div>
                            </td>
                            <td>
                                <div><label>@LanguageContainer.Keys["PhoneNumberLabel"]</label><input type="tel" @bind="EditingUser.PhoneNumber" /></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label for="function">@LanguageContainer.Keys["Function"]</label>
                                    <select id="function" @bind="EditingUser.FunctionId">
                                        <option value="">@LanguageContainer.Keys["SelectFunction"]</option>
                                        @foreach (var func in FuncoesDisponiveis)
                                        {
                                            <option value="@func.FunctionId">@func.Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div><label>@LanguageContainer.Keys["Birthday"]</label><input type="date" @bind="EditingUser.Birthday" disabled /></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label for="department">@LanguageContainer.Keys["Department"]</label>
                                    <select id="department" @bind="EditingUser.DepartmentId">
                                        <option value="">@LanguageContainer.Keys["SelectDepartment"]</option>
                                        @foreach (var dept in DepartamentosDisponiveis)
                                        {
                                            <option value="@dept.DepartmentId">@dept.Nome</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <label>@LanguageContainer.Keys["GenderLabel"]</label>
                                    <select @bind="EditingUser.Gender" disabled>
                                        <option value="">@LanguageContainer.Keys["SelectGender"]</option>
                                        <option value="Masculino">@LanguageContainer.Keys["Male"]</option>
                                        <option value="Feminino">@LanguageContainer.Keys["Female"]</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label>Role</label>
                                    <select @bind="EditingUser.Role">
                                        <option value="">@LanguageContainer.Keys["SelectRole"]</option>
                                        @foreach (var role in RolesDisponiveis.Where(r => r.Name != "Tenant"))
                                        {
                                            <option value="@role.Name">@role.Name</option>
                                        }
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div><label>PIN</label><input type="password" @bind="EditingUser.Pin" disabled /></div>
                                
                            </td> 
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label for="country">@LanguageContainer.Keys["Country"]</label>
                                    <select id="country" @bind="EditingUser.Country">
                                        <option value="">@LanguageContainer.Keys["SelectCountry"]</option>
                                        <option value="Portugal">Portugal</option>
                                        <option value="Espanha">Spain</option>
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div><label>@LanguageContainer.Keys["CityLabel"]</label><input type="text" @bind="EditingUser.City" placeholder="Insert City" /></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label for="tenant">Tenant</label>
                                    <input type="text" value="@EditingUser.Tenant" readonly disabled />
                                </div>
                            </td>

                            <td>
                                <div>
                                    <label for="store">Store Tenant</label>
                                    <select id="store" @bind="EditingUser.LojaId">
                                        <option value="">@LanguageContainer.Keys["SelectStoreTenant"]</option>
                                        @foreach (var store in StoreDisponiveis)
                                        {
                                            <option value="@store.LojaId">@store.Nome</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label for="brand">@LanguageContainer.Keys["BrandLabel"]</label>
                                    <select id="brand" @bind="EditingUser.MarcaId">
                                        <option value="">@LanguageContainer.Keys["SelectBrand"]</option>
                                        @foreach (var brand in BrandDisponiveis)
                                        {
                                            <option value="@brand.MarcaId">@brand.Nome</option>
                                        }
                                    </select>
                                </div>
                            </td>

                            
                            <td>
                                <div>
                                    <label for="language">@LanguageContainer.Keys["LanguageLabel"]</label>
                                    <select id="language" @bind="EditingUser.Language" disabled>
                                        <option value="">@LanguageContainer.Keys["SelectLanguage"]</option>
                                        <option value="Português">Portuguese</option>
                                        <option value="Espanhol">Spanish</option>
                                        <option value="Inglês">English</option>
                                    </select>
                                </div>
                            </td>

                            
                        </tr>
                    </table>
                    <div class="modal-buttons">
                        <button type="button" class="btn btn-confirm" @onclick="UpdateUser">@LanguageContainer.Keys["EditUserButton"]</button>
                        <button type="button" class="btn btn-cancel" @onclick="@(() => ShowEditUser = false)">@LanguageContainer.Keys["CancelButton"]</button>
                    </div>
                    @if (!string.IsNullOrEmpty(editErrorMessage))
                    {
                        <p style="color: red;">@editErrorMessage</p>
                    }
                    @if (!string.IsNullOrEmpty(editSuccessMessage))
                    {
                        <p style="color: green;">@editSuccessMessage</p>
                    }
                </form>
            </div>
        </div>
    }
</div>


@code {
    private List<TrustYourBrand.Models.User> Userslist { get; set; } = new();
    private int CurrentPage { get; set; } = 1;
    private int TotalPages { get; set; } = 1;
    private const int PageSize = 8;
    private string SearchTerm { get; set; } = string.Empty;
    private List<RoleDto> RolesDisponiveis { get; set; } = new();
    private List<DepartmentDto> DepartamentosDisponiveis { get; set; } = new();
    private List<FunctionDto> FuncoesDisponiveis { get; set; } = new();
    private List<BrandDto> BrandDisponiveis { get; set; } = new();
    private List<StoreDto> StoreDisponiveis { get; set; } = new();
    private List<TenantDto> TenantsDisponiveis { get; set; } = new();

    private string SearchPlaceholderUser => $"{LanguageContainer.Keys["SearchPlaceholder"]}";

    private bool ShowDeleteModal { get; set; } = false;
    private bool ShowCreateUser { get; set; } = false;
    private bool ShowEditUser { get; set; } = false;

    private TrustYourBrand.Models.User? UserToDelete { get; set; }
    private TrustYourBrand.Models.User NewUser { get; set; } = new();
    private TrustYourBrand.Models.User? EditingUser { get; set; }

    private string? errorMessage;
    private string? successMessage;
    private string? deleteMessage;
    private string? editErrorMessage;
    private string? editSuccessMessage;

    private IEnumerable<TrustYourBrand.Models.User> FilteredUsers =>
     string.IsNullOrWhiteSpace(SearchTerm)
     ? Userslist
     : Userslist.Where(user =>
         ($"{user.FirstName} {user.LastName}".Contains(SearchTerm.Trim(), StringComparison.OrdinalIgnoreCase))
     );

    private List<TrustYourBrand.Models.User> PaginatedUsers =>
        Userslist
            .Skip((CurrentPage - 1) * PageSize)
            .Take(PageSize)
            .ToList();

    protected override async Task OnInitializedAsync()
    {
        CultureChangeService.OnCultureChanged += StateHasChanged; CultureChangeService.OnCultureChanged += StateHasChanged;
        var token = await LocalStorageService.GetItemAsync<string>("authToken");
        if (string.IsNullOrEmpty(token) || JwtHelper.IsTokenExpired(token))
        {
            Console.WriteLine("Token ausente ou expirado. Redirecionando para o login...");
            await LocalStorageService.RemoveItemAsync("authToken");
            NavigationManager.NavigateTo("/login");
            return;
        }

        await LoadUsersFromService();
        RolesDisponiveis = await UserService.GetRoles();
        DepartamentosDisponiveis = await UserService.GetDepartments();
        FuncoesDisponiveis = await UserService.GetFunctions();
        BrandDisponiveis = await UserService.GetBrands();
        Console.WriteLine("BrandDisponiveis: " + System.Text.Json.JsonSerializer.Serialize(BrandDisponiveis));
        StoreDisponiveis = await UserService.GetStores(); 
        TenantsDisponiveis = await UserService.GetTenants();

    }

    private async Task LoadUsersFromService()
    {
        try
        {
            Userslist = await UserService.GetUsers(null);
            Console.WriteLine("Userslist: " + System.Text.Json.JsonSerializer.Serialize(Userslist));
            TotalPages = (int)Math.Ceiling(Userslist.Count / (double)PageSize);
        }
        catch
        {
            Userslist = new();
        }
        
        TotalPages = (int)Math.Ceiling(Userslist.Count / (double)PageSize);

    }

    

    private void PreviousPage() => CurrentPage = Math.Max(1, CurrentPage - 1);
    private void NextPage() => CurrentPage = Math.Min(TotalPages, CurrentPage + 1);

    private void EditUser(TrustYourBrand.Models.User user)
    {
        Console.WriteLine($"A abrir modal de edição para o utilizador: {user.FirstName} {user.LastName}, Idioma: {user.Language}");
        Console.WriteLine("Language do utilizador: " + user.Language);
        Console.WriteLine("Brand do utilizador: " + user.Brand);

        var function = FuncoesDisponiveis.FirstOrDefault(f => f.Name == user.Function);
        var department = DepartamentosDisponiveis.FirstOrDefault(d => d.Nome == user.Department);
        var store = StoreDisponiveis.FirstOrDefault(s => s.Nome == user.Store);
        var brand = BrandDisponiveis.FirstOrDefault(b => b.Nome == user.Brand);

        EditingUser = new TrustYourBrand.Models.User
            {
                Id = user.Id,
                FirstName = user.FirstName,
                LastName = user.LastName,
                Email = user.Email,
                PhoneNumber = user.PhoneNumber,
                DepartmentId = department?.DepartmentId,
                Department = user.Department,
                FunctionId = function?.FunctionId,
                Function = user.Function,
                Birthday = user.Birthday, 
                Gender = user.Gender,     
                Role = user.Role,
                RoleId = user.RoleId,
                Country = user.Country,
                TenantId = user.TenantId,
                Tenant = user.Tenant,
                LojaId = store?.LojaId,
                Store = user.Store,
                City = user.City,
                MarcaId = brand?.MarcaId,
                Brand = user.Brand,
                Language = user.Language,
                IsActive = user.IsActive,
                Pin = user.Pin,           
                IsFirstLogin = user.IsFirstLogin,
                CreatedByUserId = user.CreatedByUserId
            };

        ShowEditUser = true;
        editErrorMessage = null;
        editSuccessMessage = null;
    }

    private async Task UpdateUser()
    {
        if (EditingUser == null) return;

        editErrorMessage = null;
        editSuccessMessage = null;

        var roleSelecionada = RolesDisponiveis.FirstOrDefault(r => r.Name == EditingUser.Role);


        if (roleSelecionada == null)
        {
            editErrorMessage = "Invalid selected role.";
            return;
        }

        // Construir DTO correto
        var dto = new UpdateUserDto
            {
                FirstName = EditingUser.FirstName,
                LastName = EditingUser.LastName,
                Email = EditingUser.Email,
                PhoneNumber = EditingUser.PhoneNumber,
                DepartmentId = EditingUser.DepartmentId,
                Birthday = EditingUser.Birthday,
                Gender = EditingUser.Gender,
                FunctionId = EditingUser.FunctionId,
                RoleId = roleSelecionada.RoleId,
                IsActive = EditingUser.IsActive,
                IsFirstLogin = EditingUser.IsFirstLogin,
                Pin = EditingUser.Pin,
                Country = EditingUser.Country,
                City = EditingUser.City,
                LojaId = EditingUser.LojaId,
                Language = EditingUser.Language,
                MarcaId = EditingUser.MarcaId
            };

        var result = await UserService.UpdateUser(EditingUser.Id, dto);
        if (result.Success)
        {
            editSuccessMessage = result.Message ?? "User edited successfully.";
            await LoadUsersFromService();
            await Task.Delay(1500);
            ShowEditUser = false;
        }
        else
        {
            editErrorMessage = result.ErrorMessage ?? "Error editing user.";
        }
    }


    private void ShowDeleteConfirmation(TrustYourBrand.Models.User user)
    {
        UserToDelete = user;
        ShowDeleteModal = true;
    }

    private void CancelDelete()
    {
        ShowDeleteModal = false;
        UserToDelete = null;
    }

    private async Task ConfirmDelete()
    {
        if (UserToDelete != null)
        {
            var result = await UserService.DeactivateUser(UserToDelete.Id);
            deleteMessage = result.Success ? "User successfully deactivated." : result.ErrorMessage;
            ShowDeleteModal = false;
            UserToDelete = null;
            await LoadUsersFromService();
            await Task.Delay(2000);
            deleteMessage = null;
        }
    }

    private void OpenCreateUser()
    {
        NewUser = new();
        if (TenantsDisponiveis.Any())
        {
            NewUser.TenantId = TenantsDisponiveis[0].TenantId; // Automatically set the TenantId
        }
        ShowCreateUser = true;
    }

    private void CancelCreate()
    {
        ShowCreateUser = false;
        NewUser = new();
        errorMessage = null;
        successMessage = null;
    }

    private async Task CreateUser()
    {
        errorMessage = null;
        successMessage = null;

        if (string.IsNullOrWhiteSpace(NewUser.FirstName) || string.IsNullOrWhiteSpace(NewUser.LastName) || string.IsNullOrWhiteSpace(NewUser.Email) || string.IsNullOrWhiteSpace(NewUser.PhoneNumber))
        {
            errorMessage = "The First Name, Last Name, Email and Phone Number fields are mandatory.";
            return;
        }

        if (!string.IsNullOrWhiteSpace(NewUser.Email) && Userslist.Any(u => u.Email?.Equals(NewUser.Email, StringComparison.OrdinalIgnoreCase) == true))
        {
            errorMessage = "This email is already in use by another user.";
            return;
        }

        var roleSelecionada = RolesDisponiveis.FirstOrDefault(r => r.Name == NewUser.Role);
        if (roleSelecionada == null)
        {
            errorMessage = "Invalid selected role.";
            return;
        }

        NewUser.RoleId = roleSelecionada.RoleId;

        var result = await UserService.CreateUser(NewUser);
        if (result.Success && result.CreatedUser != null)
        {
            successMessage = result.Message ?? "User created successfully";
            await LoadUsersFromService();
            TotalPages = (int)Math.Ceiling(Userslist.Count / (double)PageSize);
            await Task.Delay(2000);
            ShowCreateUser = false;
            NewUser = new();
        }
        else
        {
            errorMessage = result.ErrorMessage ?? "Error creating user.";
        }
    }
}

<link href="css/Users.css" rel="stylesheet" />
<link href="css/PopUpStyle.css" rel="stylesheet" />
<link href="css/PopUpDelete.css" rel="stylesheet" />